@import "~compass-mixins/lib/compass/css3";
@import "../mixins";
@import "../variables";

.field {
  @include border-radius(8px);
  position: relative;

  > input {
    @include border-radius(8px);
    @include box-shadow(0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15));
    @include box-sizing(border-box);
    @include transition(all 0.2s ease-in-out);
    background: #fff !important;
    border: 0;
    color: $tp-title;
    font-size: 16px;
    font-weight: normal;
    line-height: 42px;
    margin: 0;
    outline: none;
    width: 100%;
  }
}

.field-icon {

  mat-icon {
    left: 8px;
    position: absolute;
    top: 10px;
  }

  input {
    padding-left: 42px;
  }
}

.field-icon-right {

  mat-icon {
    right: 8px;
    position: absolute;
    top: 10px;
  }

  input {
    padding-left: 8px;
    padding-right: 42px;
  }
}

.field-block {
  width: 100%;
}
