<div class="box-loading flex items-center justify-center direction-column" *ngIf="loading">
  <mat-spinner [diameter]="50"></mat-spinner><br>
  <div class="color-tp-body f-size-14 text-center">{{loadingMessage}}</div>
</div>
<div [ngClass]="{'display-none': loading}" class="main-container">
  <header class="flex items-center">
    <!-- GENERIC FILTER -->
    <div class="filter-container flex-auto">
      <mat-form-field appearance="standard" style="display: block;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. esc" #input>
      </mat-form-field>
    </div>
    <!-- ACTION BUTTONS -->
    <div class="buttons flex items-center justify-between">
      <div class="button-container">
        <button mat-mini-fab color="primary" aria-label="Download data" matTooltip="Download as csv" (click)="onButtonExportClick()">
          <mat-icon class="material-icons-outlined">file_download</mat-icon>
        </button>
      </div>
      <div class="button-container">
        <button mat-mini-fab color="primary" aria-label="Select columns" matTooltip="Add or remove columns" (click)="onButtonChooseColumnsClick()">
          <mat-icon class="material-icons-outlined">view_column</mat-icon>
        </button>
      </div>
      <div class="button-container">
        <button mat-mini-fab color="accent" aria-label="Close bottom sheet" matTooltip="Close" (click)="onButtonCloseClick()">
          <mat-icon class="material-icons-outlined">close</mat-icon>
        </button>
      </div>
    </div>
  </header>
  <div class="table-container">
    <table mat-table [dataSource]="tableDataSource" matSort>
      <ng-container [matColumnDef]="column.columnDef" *ngFor="let column of columns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{column.header}}
        </th>
        <td mat-cell *matCellDef="let row">
          {{column.cell(row)}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="columnsToDisplay.length">No data matching the filter</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of schools"></mat-paginator>
  </div>
</div>