@import "~compass-mixins/lib/compass/css3";
@import "../../../styles/mixins";
@import "../../../styles/variables";

$buttons-count: 3;
$buttons-size: 40px;
$buttons-space-between: 12px;

.box-loading {
  height: 100%;
  width: 100%;
}

.main-container {
  > header {
    .buttons {
      flex: 0 0 calc((#{$buttons-count} * #{$buttons-size}) + (#{$buttons-space-between} * (#{$buttons-count} - 1)));
      margin-left: 24px;
    }
  }
}

.table-container {
  @include box-shadow(0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f);
}
