$font-primary: "Roboto", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;

//colors
$primary: #3f51b5;
$white: #fff;

// blue colors
$blue: #0084f0;
$blue-light: #0092ff;
$blue-dark: #0a60ca;
$blue-pale: #f4faff;
$blue-torquoise: #00afc3;

// GREEN COLORS
$green: #00b295;
$green-light: #0ec2a5;
$green-dark: #009980;

// feat colors
$feat-green: #56d132;
$feat-orange: #f48d32;
$feat-purple: #7969e7;
$feat-red: #f95e5d;

// Sizes
$topbar-sm-height: 64px;
$topbar-height: 80px;
$wrapper-width: 1440px;
$wrapper-width-breakpoint: 1470px;

// Border Colors
$border-color: #dadce0;
$border-color-light: #d8d8d8;

//Typography colors
$tp-title: #202124;
$tp-body: #5f6368;
$tp-label: #8d949b;

// Background Colors
$bg-wild-sand: #f5f5f5;
$bg-wild-sand-light: #f9f9f9;

// Navigation bar
$navigation-bar-height: 80px;
$navigation-bar-height-mobile: 64px;
$navigation-bar-width-breakpoint: 890px;
