@import "~compass-mixins/lib/compass/css3";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.page-title {
  background-color: #09132c;
  margin-top: -16px;
  position: relative;
  height: 290px;

  .background-overlay {
    @include box-sizing(border-box);
    height: 100%;
    left: 0;
    position: absolute;
    opacity: 0.3;
    top: 0;
    width: 100%;

    @include breakpoint(sm) {
      opacity: 0.6;
    }

    img {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: scaleX(-1);
      width: auto;

      &.right {
        left: auto;
        right: 0;
        transform: scaleX(1);

        @include breakpoint(xs) {
          display: none;
        }
      }
    }
  }

  .subtitle {
    margin: 16px auto 0;
    max-width: 600px;
  }
}

.page-content-container {
  .main-container {
    background-color: #fafafa;
    height: 350px;
    padding-bottom: 32px;
    padding-top: 140px;
    position: relative;
    width: 100%;

    .main-circle {
      border: 6px solid #bcbcbc;
      border-radius: 100%;
      box-sizing: border-box;
      padding: 24px;
      height: 300px;
      width: 300px;
      position: relative;

      .inner {
        background: #ededed;
        border: 4px solid #e3e3e3;
        border-radius: 100%;
        //box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        color: #616161;
        font-size: 24px;
        height: 100%;
        line-height: 1.5;
        text-align: center;
        width: 100%;
      }
    }

    .bubble-container {
      border: 6px;
      box-sizing: border-box;
      height: 300px;
      position: absolute;
      width: 300px;
      opacity: 0;
      transform: rotate(0deg);
      transition: transform ease-in 0.7s, opacity ease 1s;

      .pointer {
        background: #fff;
        border: 4px solid #bcbcbc;
        border-radius: 100%;
        box-sizing: border-box;
        position: absolute;
        left: calc(-17px + 3px);
        height: 34px;
        top: calc(50% - 17px);
        width: 34px;

        .arrow {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 14px 7px 0;
          border-color: transparent #bcbcbc transparent transparent;

          //POSITION
          position: absolute;
          left: -15px;
          top: 5.52px;
        }

        .inner {
          background: #000;
          border-radius: 100%;
          box-sizing: border-box;
          height: 14px;
          width: 14px;
        }
      }

      .bubble {
        border-radius: 100%;
        box-sizing: border-box;
        position: absolute;
        height: 110px;
        top: calc(50% - 55px);
        left: -145px;
        width: 110px;
        transform: rotate(0deg);
        transition: all ease 0.8s;

        .inner {
          background: #fff;
          border-radius: 100%;
          box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.2);
          box-sizing: border-box;
          height: 84px;
          width: 84px;
          overflow: hidden;
        }
      }
    }
  }

  .sources-description-container {
    padding: 64px 0;

    .source-description-item {
      flex: auto;
      margin-bottom: 32px;

      @include breakpoint(sm) {
        flex: 0 0 calc(50% - 16px);
        margin-bottom: 64px;
      }

      > header {
        margin-bottom: 6px;
      }

      > footer {
        height: 6px;
        margin-top: 4px;
        width: 100%;
      }

      ul {
        li {
          margin-bottom: 16px;
        }
      }
    }
  }
}
